.App {
  text-align: center;
}

#title {
  color: rgb(36, 240, 230);
  font-family: "Courier New", Courier, monospace;
  font-size: 40pt;
}

#points {
  color: rgb(36, 240, 230);
  font-family: "Courier New", Courier, monospace;
  font-size: 30pt;
}

#loser {
  color: rgb(255, 73, 28);
  font-family: "Courier New", Courier, monospace;
  z-index: 1;
  position: absolute;
  font-size: 82pt;
  top: 300px;
}

#grid {
  padding-left: 1px;
  display: grid;
  grid-template-columns: repeat(20, 26px);
  background-color: rgb(36, 240, 230);
}

.grid-cell {
  background-color: rgb(10, 10, 10);
  height: 25px;
  max-width: 25px;
  margin: 1px 0;
}

#snekked {
  background-color: rgb(36, 240, 230);
}

#food {
  background-color: rgb(240, 135, 36);
}

#start {
  border: solid 2px rgb(36, 240, 230);
  background-color: black;
  color: rgb(36, 240, 230);
  font-family: "Courier New", Courier, monospace;
  font-size: 28pt;
  /* font-weight: bold; */
  margin: 15px;
}
