.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  color: rgb(36, 240, 230);
  font-family: "Courier New", Courier, monospace;
  font-size: 40pt;
}

#grid {
  padding-left: 1px;
  display: grid;
  grid-template-columns: repeat(20, 26px);
  background-color: rgb(36, 240, 230);
}

.grid-cell {
  background-color: rgb(10, 10, 10);
  height: 25px;
  max-width: 25px;
  margin: 1px 0;
}

#snekked {
  background-color: rgb(36, 240, 230);
}

#start {
  position: absolute;
  top: 270px;
  height: 90px;
  width: 521px;
  border: solid 4px rgb(36, 240, 230);
  background-color: black;
  color: rgb(36, 240, 230);
  font-family: "Courier New", Courier, monospace;
  font-size: 30pt;
}
